
/* APPLIES TO WHOLE PAGE */
:root {
    --banner-height: 162px;
    --profile-pic-width: 140px;
    --profile-pic-height: 160px;
    --white-text: white;
    --border-rad: 5px;
    --page-width: 1024px;
    --neg-half-page-width: -496px;
    --navbox-width: 100%;
    background-image: linear-gradient(
        white 0%,
        azure 100%
    );
}
body {
    margin: 0;
}

.limit-page-width {
    max-width: var(--page-width);
    margin-left: auto;
    margin-right: auto;
}
* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* border: 1px solid darkgreen; */
    margin: 0;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none; 
  color: white;
}



/* APPLIES TO HEADER */
header {
    position: fixed;
    width: 100%;
    z-index: 2;
    height: var(--banner-height);
    background-color: rgb(0, 0, 65);
    border-bottom: 5px solid black;
}
#banner-container {
    display: flex;
    justify-content: space-between;
    max-height: var(--banner-height);
    background-color: rgb(0, 0, 65);
    border-bottom: 5px solid black;
    margin: 0;
}
#picture img {
    position: relative;
    text-align: center;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: var(--profile-pic-width);
    height: var(--profile-pic-height);
}
#nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    height: 32px;
    max-width: var(--navbox-width);
    margin-right: 0;
    margin-left: auto;
}
.nav-link-targets {
    position: relative;
    top: -170px;
}
#my-name {
    margin-top: -48px;
    color: white;
}
.nav-button {
    text-decoration: none;
    color: white;
    border-bottom: none;
    border-radius: 5px;
    border-color: navy;
    background-color: rgb(0, 0, 153);
    padding: 7px 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin: 5px;
    background-image: radial-gradient(
        navy 65%,
        blue 90%,
        black 100%
    );
    transition: all 0.5s ease-in-out;
}
.nav-button:hover {
    border-radius: 5px;
    border-color: navy;
    background-color: navy;
    padding: 7px 10px;
    font-size: 14px;
    text-decoration: none;
    border-bottom: none;
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 5px;
    box-shadow: 0 0 1px 1px white,
                0 0 1px 5px navy,
                0 0 2px 9px gray,
                inset 0px 0px 5px white,
                inset 2px 0 8px darkblue,
                inset -2px 0 8px darkblue,
                inset 2px 0 3px navy,
                inset -2px 0 3px blue,
                0 0 1px white,
                -5px 0 2px navy,
                5px 0 2px gray;
                transition: all 0.05s ease-in-out;
    cursor:grab;
}
.nav-button:active {
    border-radius: 5px;
    border-color: rgb(0, 0, 49);
    background-color: rgb(0, 0, 49);
    padding: 7px 10px;
    font-size: 14px;
    text-decoration: none;
    border-bottom: none;
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 5px;
    box-shadow: 0 0 1px 1px gray,
                0 0 1px 5px rgb(0, 0, 49),
                0 0 2px 9px black,
                inset 0px 0px 5px gray,
                inset 20px 0 18px navy,
                inset -20px 0 18px navy,
                inset 20px 0 30px rgb(0, 0, 49),
                inset -20px 0 30px navy,
                0 0 1px gray,
                -10px 0 8px rgb(0, 0, 49),
                10px 0 8px black;
                transition: all 0.01s ease-in-out;
    cursor:grab;
}
.banner {
    height: var(--banner-height);
    background-color: rgb(0, 0, 65);
    border-bottom: 5px solid black;
    margin-bottom: 25px;
}





/* APPLIES TO MAIN */
.personal-info,
.core-comp {
    text-align: center;
}
#ext-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 32px;
}
.ext-button {
    text-decoration: none;
    color: white;
    border-bottom: none;
    border-radius: 5px;
    border-color: navy;
    background-color: navy;
    margin: 5px;
    padding: 12px 12px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    background-image: radial-gradient(
        navy 70%,
        darkblue 90%,
        black 95%,
        white 100%
    );
    transition: all 0.5s ease-in-out;
}
.ext-button:hover,
.flagship,
.fleet {
    border-radius: 5px;
    border-color: navy;
    background-color: navy;
    padding: 12px 12px;
    font-size: 14px;
    text-decoration: none;
    border-bottom: none;
    color: white;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 0 1px 1px white,
                0 0 1px 5px navy,
                0 0 2px 9px gray,
                inset 0px 0px 5px white,
                inset 20px 0 18px darkblue,
                inset -20px 0 18px darkblue,
                inset 20px 0 30px navy,
                inset -20px 0 30px blue,
                0 0 1px white,
                -10px 0 8px navy,
                10px 0 8px gray;
                transition: all 0.05s ease-in-out;
    cursor:grab;
}
.ext-button:active,
.flagship:hover,
.fleet:hover {
    border-radius: 5px;
    border-color: rgb(0, 0, 49);
    background-color: rgb(0, 0, 49);
    padding: 14px 14px;
    font-size: 14px;
    text-decoration: none;
    border-bottom: none;
    color: white;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 0 1px 1px gray,
                0 0 1px 5px rgb(0, 0, 49),
                0 0 2px 9px black,
                inset 0px 0px 5px gray,
                inset 20px 0 18px navy,
                inset -20px 0 18px navy,
                inset 20px 0 30px rgb(0, 0, 49),
                inset -20px 0 30px navy,
                0 0 1px gray,
                -10px 0 8px rgb(0, 0, 49),
                10px 0 8px black;
                transition: all 0.01s ease-in-out;
    cursor:grab;
}
.flagship a:hover,
.fleet a:hover {
    color: white;
}
.section-title {
    color: rgb(53, 53, 53);
    text-align: center;
    margin-bottom: 10px;
}
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 15px;
}
.flagship {
    margin-top: 9px;
    margin-right: 3px;
    margin-bottom: 9px;
    margin-left: 3px;
    background-color: white;
    width: 90%;
    text-align: center;
}
.fleet {
    margin-top: 9px;
    margin-right: 3px;
    margin-bottom: 9px;
    margin-left: 3px;
    background-color: white;
    width: 40%;
    text-align: center;
}
.flagship img {
    width:100%;
    height:100%;
    object-fit: cover;
    overflow: hidden;
}
.fleet img {
    width:100%;
    height:100%;
    object-fit: cover;
    overflow: hidden;
}
.employer-location {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: larger;
    font-weight: bolder;
}
.job-title-date {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    text-indent: 40px;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    color: navy;
}
.title-date {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    text-indent: 40px;
    font-size: large;
    font-weight: bold;
}
footer {
    text-align: center;
    font-size: smaller;
    font-weight: lighter;
}

@media screen and (max-width: 768px) {
    .fleet {
        width: 90%;
    }
    .projects {
        flex-direction: column;
    }
    #my-name {
        margin-top: 0px;
    }
    header {
        height: calc(var(--banner-height) + 48px);
    }
    .banner {
        margin-bottom: calc(25px + 48px);
    }
    .project-img a {
        color: black;
    }
}